<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey, </h2>
    <p>Your ticket has been cancelled due to the lack of payment. </p>
    <p>Kind regards, </p>
    <p>Monte Cinema</p>
  </body>
</html>
